config LEDS_BCM63138
	tristate "LED Support for Broadcom BCM63138 SoC"
	depends on LEDS_CLASS
	depends on ARCH_BCM4908 || ARCH_BCM_5301X || BCM63XX || COMPILE_TEST
	depends on HAS_IOMEM
	depends on OF
	default ARCH_BCM4908
	help
	  This option enables support for LED controller that is part of
	  BCM63138 SoC. The same hardware block is known to be also used
	  in BCM4908, BCM6848, BCM6858, BCM63148, BCM63381 and BCM68360.

	  If compiled as module it will be called leds-bcm63138.
