# SPDX-License-Identifier: GPL-2.0-only
#
# Phy drivers for SUNXI platforms
#

menu "USB PHY Support"
	depends on AW_BSP

config USB_SUNXI_PHY
	tristate "Allwinner USB2.0/3.0 PHY support"
	depends on AW_BSP
	help
	  Allwinner USB PHY Driver.

	  This option is of interest only to developers who need to
	  develop on AllWinner SoC.

	  If unsure, say N.

config USB_SUNXI_AWPHY
	tristate "Allwinner USB2.0 AW PHY Driver"
	depends on AW_BSP && OF
	depends on USB_SUNXI_PHY
	select GENERIC_PHY
	help
	  Enable this to support the Allwinner USB2.0 AW PHY
	  with UTMI + Level3 Interface.

endmenu
