#
# sunxi bootevent debugger driver.
#
config SUNXI_BOOTEVENT
  tristate "Enable sunxi bootevent debugger tool"
  default n
  help
    SUNXI_BOOTEVENT is used to debug bootting time,If you are not sure
	about whether to enable it or not, please set n.

