// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright 2024 Cix Technology Group Co., Ltd.
 */
&cix_dma_dev_0 {
	sync = <0>;
	cix,rcsu = <&cix_csi_rcsu_0>;
	cix,hw = <&cix_bridge_0>;
	status = "okay";
	iommus = <&smmu_mmhub 0x21>;
	port {
		cix_dma_dev_0_in: endpoint {
			remote-endpoint = <&mipi_csi2_virt00_out>;
		};
	};
};

&cix_dma_dev_1 {
	sync = <0>;
	cix,rcsu = <&cix_csi_rcsu_1>;
	cix,hw = <&cix_bridge_2>;
	status = "okay";
	iommus = <&smmu_mmhub 0x22>;
	port {
		cix_dma_dev_1_in: endpoint {
			remote-endpoint = <&mipi_csi2_virt02_out>;
		};
	};
};

&cix_csi_rcsu_0 {
	status = "okay";
};

&cix_csi_rcsu_1 {
	status = "okay";
};

&cix_bridge_0 {
	status = "okay";
};

&cix_bridge_2 {
	status = "okay";
};

&cix_mipi_csi_0 {
	lanes = <4>;
	status = "okay";
};

&cix_mipi_virt_csi_00 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi_csi2_virt00_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&dphy0_out>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi_csi2_virt00_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cix_dma_dev_0_in>;
			};
		};
	};
};

&cix_mipi_virt_csi_02 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi_csi2_virt02_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&dphy1_out>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi_csi2_virt02_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cix_dma_dev_1_in>;
			};
		};
	};
};

&cix_dphy_hw_0 {
	status = "okay";
};

&cix_dphy_0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			dphy0_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx490_5300_9295_a_out>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			dphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_csi2_virt00_in>;
			};
		};
	};
};

&cix_dphy_1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			dphy1_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx490_5300_9295_b_out>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			dphy1_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_csi2_virt02_in>;
			};
		};
	};
};

&i2c0 {

	z_dser_0: max96724@27 {
		compatible = "cix,max96724";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x27>;
		/*interrupt-parent = <&gpio0>;*/
		/*interrupts = <RK_PB7 IRQ_TYPE_EDGE_RISING>;*/
		/*pinctrl-names = "default","gpio";*/
		/*pinctrl-0 = <&pinctrl_lt7911_hw>;*/
		/*pinctrl-1 = <&pinctrl_lt7911_hw>;*/
		/*pwdn-gpios = <&fch_gpio0 15 GPIO_ACTIVE_HIGH>;*/
		/*power-gpios = <&fch_gpio1 16 GPIO_ACTIVE_HIGH>;*/
		/*power1-gpios = <&fch_gpio1 18 GPIO_ACTIVE_HIGH>;*/
		/*reset-gpios = <&fch_gpio1 12 GPIO_ACTIVE_HIGH>;*/
		status = "okay";
	};

	z_imx490_5300_9295_a {
		status = "okay";
		def-addr = <0x6d>; /* actual i2c address of imx390 */
		nvidia,gmsl-dser-device = <&z_dser_0>;
		des-link = "A";
		compatible = "cix,imx490_5300_9295";
		reg = <0x10>; /* 9295 will translate to this i2c address */

		physical_w = "15.0";
		physical_h = "12.5";
		sensor_model ="imx490";

		/* enable CID_SENSOR_MODE_ID for sensor modes selection */
		use_sensor_mode_id = "true";

		mode0 {
			mclk_khz = "24000";
			num_lanes = "4";
			tegra_sinterface = "serial_c";
			vc_id = "0";
			discontinuous_clk = "no";
			dpcm_enable = "false";
			cil_settletime = "0";
			dynamic_pixel_bit_depth = "16";
			csi_pixel_bit_depth = "16";
			mode_type = "yuv";
			pixel_phase = "uyvy";

			active_w = "2880";
			active_h = "1860";
			readout_orientation = "0";
			line_length = "4400";
			inherent_gain = "1";
			pix_clk_hz = "165000000";
			serdes_pix_clk_hz = "800000000";

			gain_factor = "10";
			min_gain_val = "0"; /* dB */
			max_gain_val = "420"; /* dB */
			step_gain_val = "3"; /* 0.3 */
			default_gain = "150";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			framerate_factor = "1000000";
			min_framerate = "30000000";
			max_framerate = "30000000";
			step_framerate = "1";
			default_framerate = "30000000";
			exposure_factor = "1000000";
			min_exp_time = "59"; /*us, 2 lines*/
			max_exp_time = "33333";
			step_exp_time = "1";
			default_exp_time = "33333";/* us */
			embedded_metadata_height = "0";
		};

		gmsl-link {
			num-ser-lanes = <4>;
			streams = "yuv16";
		};

		port {
			imx490_5300_9295_a_out: endpoint {
				remote-endpoint = <&dphy0_in>;
				data-lanes = <4>;
				clock-lanes = <0>;
			};
		};
	};

	z_imx490_5300_9295_b {
		status = "okay";
		def-addr = <0x6d>; /* actual i2c address of imx390 */
		nvidia,gmsl-dser-device = <&z_dser_0>;
		des-link = "B";
		compatible = "cix,imx490_5300_9295";
		reg = <0x11>; /* 9295 will translate to this i2c address */

		physical_w = "15.0";
		physical_h = "12.5";
		sensor_model ="imx490";

		/* enable CID_SENSOR_MODE_ID for sensor modes selection */
		use_sensor_mode_id = "true";

		mode0 {
			mclk_khz = "24000";
			num_lanes = "4";
			tegra_sinterface = "serial_c";
			vc_id = "0";
			discontinuous_clk = "no";
			dpcm_enable = "false";
			cil_settletime = "0";
			dynamic_pixel_bit_depth = "16";
			csi_pixel_bit_depth = "16";
			mode_type = "yuv";
			pixel_phase = "uyvy";

			active_w = "2880";
			active_h = "1860";
			readout_orientation = "0";
			line_length = "4400";
			inherent_gain = "1";
			pix_clk_hz = "165000000";
			serdes_pix_clk_hz = "800000000";

			gain_factor = "10";
			min_gain_val = "0"; /* dB */
			max_gain_val = "420"; /* dB */
			step_gain_val = "3"; /* 0.3 */
			default_gain = "150";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			framerate_factor = "1000000";
			min_framerate = "30000000";
			max_framerate = "30000000";
			step_framerate = "1";
			default_framerate = "30000000";
			exposure_factor = "1000000";
			min_exp_time = "59"; /*us, 2 lines*/
			max_exp_time = "33333";
			step_exp_time = "1";
			default_exp_time = "33333";/* us */
			embedded_metadata_height = "0";
		};

		gmsl-link {
			num-ser-lanes = <4>;
			streams = "yuv16";
		};

		port {
			imx490_5300_9295_b_out: endpoint {
				remote-endpoint = <&dphy1_in>;
				data-lanes = <4>;
				clock-lanes = <0>;
			};
		};
	};
};
