# SPDX-License-Identifier: GPL-2.0-only
config CIX_EC
	tristate "CIX Embedded Controller"
	depends on CROS_EC_I2C
	help
	  If you say Y here, you get support for talking to the CIX EC over an I2C bus.