#
# Video configuration for sunxi platform
#

menu "Video support for sunxi"
	depends on FB

config FB_CONSOLE_SUNXI
	bool "Framebuffer Console Support(sunxi)"
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	default n
	---help---
	  Frame buffer driver for sunxi based boards.

config DISP2_SUNXI
	tristate "DISP Driver Support(sunxi-disp2)"
	depends on (ARCH_SUNXI)
	default n
	---help---
	  Display driver for sunxi based boards.

menuconfig HDMI_DISP2_SUNXI
	tristate "HDMI Driver Support(sunxi-disp2)"
	depends on (DISP2_SUNXI)
	default n
	---help---
	  Hdmi driver for sunxi based boards.

menuconfig HDMI2_HDCP_SUNXI
  bool "HDMI2.0 HDCP"
  depends on (HDMI2_DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to handle the cec message by User Space.
  Say N here if you want to handle the cec message by Kernel.
  If unsure, say N.

config HDMI2_HDCP22_SUNXI
  bool "HDMI2.0 HDCP2.2"
  depends on (HDMI2_HDCP_SUNXI && HDMI2_DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to handle the cec message by User Space.
  Say N here if you want to handle the cec message by Kernel.
  If unsure, say N.


menuconfig HDMI2_CEC_SUNXI
  bool "HDMI2.0 CEC"
  depends on (HDMI2_DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to handle the cec message by User Space.
  Say N here if you want to handle the cec message by Kernel.
  If unsure, say N.

config HDMI2_CEC_USER
  bool "HDMI2.0 CEC handled by user space"
  depends on (HDMI2_CEC_SUNXI && HDMI2_DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to handle the cec message by User Space.
  Say N here if you want to handle the cec message by Kernel.
  If unsure, say N.

config HDMI2_FREQ_SPREAD_SPECTRUM
  bool "new frequency spread spectrum(hershey) of sunxi"
  depends on HDMI2_DISP2_SUNXI
  default n
  ---help---
  Say Y here if you want to use new frequency spread spectrum(hershey) of sunxi.
  Say N here if you do NOT want to new frequency spread spectrum of sunxi.
  If unsure, say N

config HDMI2_DISP2_SUNXI
  tristate "HDMI2.0 Driver Support(sunxi-disp2)"
  depends on (DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to have support for HDMI2.0 controller
  on the sunxi based boards. The HDMI2.0 controller include edid,
  hdcp1.4,hdcp2.2,cec feature and is compatible with hdmi1.4,support
  HDR,4k@60Hz. If unsure, say N.

config TV_DISP2_SUNXI
	 tristate "TV Driver Support(sunxi-disp2)"
	 depends on (DISP2_SUNXI)
	 default n
	 ---help---
	  TV driver for sunxi based boards.
config VDPO_DISP2_SUNXI
	 tristate "VDPO Driver Support(sunxi-disp2)"
	 depends on (DISP2_SUNXI)
	 default n
	 ---help---
	  VDPO driver for sunxi based boards.
config DISP2_TV_GM7121
	tristate "GM7121 TV module Support(sunxi-disp2)"
 	depends on (DISP2_SUNXI && TV_DISP2_SUNXI)
	default n
	---help---

config EDP_DISP2_SUNXI
	tristate "EDP Driver Support(sunxi-disp2)"
	depends on (DISP2_SUNXI)
	default n
	---help---
      EDP 1.2 driver for sunxi. Embedded Display Port is
      a high speed display interface for embedded device.
      DisplayPort can be used to transmit audio and video
      simultaneously, but each one is optional and can be
      transmitted without the other.

config DISP2_TV_AC200
	tristate "AC200 TV module Support(sunxi-disp2)"
	depends on (DISP2_SUNXI && MFD_ACX00)
	default n
	---help---

config EINK_PANEL_USED
	bool "Eink panel used"
	depends on (DISP2_SUNXI && (ARCH_SUN8IW10 || ARCH_SUN8IW15))
	default n
	---help---

config EINK200_SUNXI
	bool "Eink Driver Version 2.0 Support"
	depends on (DISP2_SUNXI && ARCH_SUN50IW10)
	default n
	---help---

config DISP2_SUNXI_BOOT_COLORBAR
	bool "boot colorbar Support for disp driver(sunxi-disp2)"
	depends on DISP2_SUNXI
	default n
	---help---
	  If true, the framebuffer will be filled by specified data
	  to display vertical colorbar.

config DISP2_SUNXI_DEBUG
	bool "debugfs support for disp driver(sunxi-disp2)"
	depends on DISP2_SUNXI
	default n
	---help---
	  This enable debugfs support for display driver. You can
	  get debug info or debug the driver via debugfs interface.

config DISP2_SUNXI_COMPOSER
	bool "composer support for disp driver(sunxi-disp2)"
	depends on DISP2_SUNXI
	default n
	---help---
	  This enable composer support for display driver. The composer
	  will serve hwc only.
config DISP2_LCD_ESD_DETECT
	bool "ESD detect support for LCD panel"
	depends on DISP2_SUNXI
	default n
	---help---
	  This enable lcd  esd detect and panel reset for display driver. User must
	  define panel_reset and esd_check function.
endmenu
