#
# Video configuration for sunxi platform
#

menu "Video support for sunxi"
	depends on FB

config FB_SUNXI
  tristate "DISP Driver Support(sunxi)"
  depends on (ARCH_SUN9IW1P1 || ARCH_SUN8IW5P1)
  default m
  ---help---

config FB_CONSOLE_SUNXI
  bool "Framebuffer Console Support(sunxi)"
  select FB_CFB_FILLRECT
  select FB_CFB_COPYAREA
  select FB_CFB_IMAGEBLIT
  default n
  ---help---

config TV_GM7121_DISP1
  tristate "GM7121 driver for SUNXI"
  depends on (ARCH_SUN9IW1P1 && FB_SUNXI)
  default m
  ---help---

config LCD_SUNXI
  tristate "LCD Driver Support(sunxi)"
  depends on ((ARCH_SUN9IW1P1 || ARCH_SUN8IW5P1) && FB_SUNXI)
  default m
  ---help---

config HDMI_SUNXI
  tristate "HDMI Driver Support(sunxi)"
  depends on (ARCH_SUN9IW1P1 && FB_SUNXI)
  default m
  ---help---

config FB_SUNXI_LEGACY
  tristate "DISP Driver Support(sunxi-legacy)"
  depends on (ARCH_SUN8IW1P1 || ARCH_SUN8IW3P1)
  default m
  ---help---

config LCD_SUNXI_LEGACY
  tristate "LCD Driver Support(sunxi-legacy)"
  depends on ((ARCH_SUN8IW1P1 || ARCH_SUN8IW3P1) && FB_SUNXI_LEGACY)
  default m
  ---help---

config HDMI_SUNXI_LEGACY
  tristate "HDMI Driver Support(sunxi-legacy)"
  depends on ((ARCH_SUN8IW1P1 || ARCH_SUN8IW3P1) && FB_SUNXI_LEGACY)
  default m
  ---help---

config DISP2_SUNXI
  tristate "DISP Driver Support(sunxi-disp2)"
  depends on (ARCH_SUN8IW6 || ARCH_SUN8IW7 || ARCH_SUN8IW8 || ARCH_SUN8IW9)
  default n
  ---help---

config HDMI_DISP2_SUNXI
  tristate "HDMI Driver Support(sunxi-disp2)"
  depends on ((ARCH_SUN8IW6 || ARCH_SUN8IW7) && DISP2_SUNXI)
  default n
  ---help---
  
config TV_DISP2_SUNXI
  tristate "TV Driver Support(sunxi-disp2)"
  depends on ((ARCH_SUN8IW7) && DISP2_SUNXI)
  default n
  ---help---

config TV_GM7121
  tristate "GM7121 TV module Support(sunxi-disp2)"
  depends on ((ARCH_SUN8IW6) && DISP2_SUNXI)
  default n
  ---help---

config TV_AC200
  tristate "AC200 TV module Support(sunxi-disp2)"
  depends on ((ARCH_SUN8IW6) && DISP2_SUNXI && MFD_ACX00)
  default n
  ---help---

config HDMI_EP952
  tristate "hdmi-ep952 module Support(sunxi-disp2)"
  depends on (DISP2_SUNXI)
  default n
  ---help---

config DISP2_SUNXI_BOOT_COLORBAR
  bool "boot colorbar for disp driver(sunxi-disp2)"
  depends on (ARCH_SUN8IW7 && DISP2_SUNXI)
  default n
  ---help---

config DISP2_SUNXI_DEBUG
  bool "debugfs for disp driver(sunxi-disp2)"
  depends on DISP2_SUNXI
  default n
  ---help---

endmenu
