# SPDX-License-Identifier: GPL-2.0-only

menu "USB EXTCON Support"
	depends on AW_BSP

config USB_SUNXI_EXTCON
	tristate "Allwinner USB External Connector support"
	depends on AW_BSP
	help
	  Allwinner USB External Connector.

	  This option is of interest only to developers who need to
	  develop on AllWinner SoC.

	  If unsure, say N.

config EXTCON_SUNXI_PLAT
	tristate "Allwinner EXTCON Platforms"
	depends on USB_SUNXI_EXTCON
	depends on USB_SUNXI_HCD
	depends on OF && COMMON_CLK
	help
	  Support EXTCON of USB2.0 HOST functionality in Allwinner platforms.
	  say 'Y' or 'M' if you have one such device.

config EXTCON_SUNXI_USB_GPIO
	tristate "Allwinner USB GPIO extcon support"
	depends on USB_SUNXI_EXTCON
	depends on GPIOLIB || COMPILE_TEST
	select EXTCON
	help
	  Say Y here to enable GPIO based USB cable detection extcon support.
	  Used typically if GPIO is used for USB ID pin detection.

endmenu
