menuconfig XR819_WLAN
	tristate "XR819 WLAN support"
	default n
	select CFG80211
	select AVERAGE
	select CRYPTO
	select CRYPTO_ARC4
	---help---
	  To compile this code as a module, choose M here.

if XR819_WLAN

source "drivers/net/wireless/xr819/umac/Kconfig"
source "drivers/net/wireless/xr819/wlan/Kconfig"

endif # XR819_WLAN
