// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 BayLibre, SAS
 * Author: Neil Armstrong <narmstrong@baylibre.com>
 */

/dts-v1/;

#include "meson-sm1.dtsi"
#include "meson-orangepi-3-plus.dtsi"
#include <dt-bindings/sound/meson-g12a-tohdmitx.h>

/ {
	compatible = "orangepi,3plus", "amlogic,sm1";
	model = "Orange Pi 3 Plus";

	vddcpu: regulator-vddcpu {
		/*
		 * Silergy SY8030DEC Regulator.
		 */
		compatible = "pwm-regulator";

		regulator-name = "VDDCPU";
		regulator-min-microvolt = <690000>;
		regulator-max-microvolt = <1050000>;

		pwm-supply = <&vsys_3v3>;

		pwms = <&pwm_AO_cd 1 1250 0>;
		pwm-dutycycle-range = <100 0>;

		regulator-boot-on;
		regulator-always-on;
	};

	sound {
		compatible = "amlogic,axg-sound-card";
		model = "OPI-3Plus";
		audio-widgets = "Line", "Lineout";
		audio-aux-devs = <&tdmout_b>, <&tdmout_c>,
				 <&tdmin_a>, <&tdmin_b>, <&tdmin_c>, <&dio2133>;
		audio-routing = "TDMOUT_B IN 0", "FRDDR_A OUT 1",
		                "TDMOUT_B IN 1", "FRDDR_B OUT 1",
		                "TDMOUT_B IN 2", "FRDDR_C OUT 1",
		                "TDM_B Playback", "TDMOUT_B OUT",
		                "TDMOUT_C IN 0", "FRDDR_A OUT 2",
		                "TDMOUT_C IN 1", "FRDDR_B OUT 2",
		                "TDMOUT_C IN 2", "FRDDR_C OUT 2",
		                "TDM_C Playback", "TDMOUT_C OUT",
		                "TDMIN_A IN 4", "TDM_B Loopback",
		                "TDMIN_B IN 4", "TDM_B Loopback",
		                "TDMIN_C IN 4", "TDM_B Loopback",
		                "TDMIN_A IN 5", "TDM_C Loopback",
		                "TDMIN_B IN 5", "TDM_C Loopback",
		                "TDMIN_C IN 5", "TDM_C Loopback",
		                "TODDR_A IN 0", "TDMIN_A OUT",
		                "TODDR_B IN 0", "TDMIN_A OUT",
		                "TODDR_C IN 0", "TDMIN_A OUT",
		                "TODDR_A IN 1", "TDMIN_B OUT",
		                "TODDR_B IN 1", "TDMIN_B OUT",
		                "TODDR_C IN 1", "TDMIN_B OUT",
		                "TODDR_A IN 2", "TDMIN_C OUT",
		                "TODDR_B IN 2", "TDMIN_C OUT",
		                "TODDR_C IN 2", "TDMIN_C OUT",
		                "Lineout", "ACODEC LOLP",
		                "Lineout", "ACODEC LORP";

		assigned-clocks = <&clkc CLKID_MPLL2>,
		                  <&clkc CLKID_MPLL0>,
		                  <&clkc CLKID_MPLL1>;
		assigned-clock-parents = <0>, <0>, <0>;
		assigned-clock-rates = <294912000>,
		                       <270950400>,
		                       <393216000>;
		status = "okay";

		dai-link-0 {
			sound-dai = <&frddr_a>;
		};

		dai-link-1 {
			sound-dai = <&frddr_b>;
		};

		dai-link-2 {
			sound-dai = <&frddr_c>;
		};

		dai-link-3 {
			sound-dai = <&toddr_a>;
		};

		dai-link-4 {
			sound-dai = <&toddr_b>;
		};

		dai-link-5 {
			sound-dai = <&toddr_c>;
		};

		dai-link-6 {
			sound-dai = <&tdmif_b>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			dai-tdm-slot-tx-mask-1 = <1 1>;
			dai-tdm-slot-tx-mask-2 = <1 1>;
			dai-tdm-slot-tx-mask-3 = <1 1>;
			mclk-fs = <256>;

			codec-0 {
				sound-dai = <&tohdmitx TOHDMITX_I2S_IN_B>;
			};

			codec-1 {
				sound-dai = <&toacodec TOACODEC_IN_B>;
			};
		};

		dai-link-7 {
			sound-dai = <&tdmif_c>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			mclk-fs = <256>;

			codec-0 {
				sound-dai = <&tohdmitx TOHDMITX_I2S_IN_C>;
			};

			codec-1 {
				sound-dai = <&toacodec TOACODEC_IN_C>;
			};
		};

		/* hdmi glue */
		dai-link-8 {
			sound-dai = <&tohdmitx TOHDMITX_I2S_OUT>;

			codec {
				sound-dai = <&hdmi_tx>;
			};
		};

		/* acodec glue */
		dai-link-9 {
			sound-dai = <&toacodec TOACODEC_OUT>;

			codec {
				sound-dai = <&acodec>;
			};
		};
	};

	//gpio-keys {
	//	compatible = "gpio-keys";

	//	key {
	//		label = "power";
	//		linux,code = <KEY_POWER>;
	//		gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
	//		interrupt-parent = <&gpio_intc>;
	//		interrupts = <11 IRQ_TYPE_EDGE_BOTH>;
	//	};
	//};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;

		power-button {
			label = "power";
			linux,code = <KEY_POWER>;
			gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
		};
	};

	dio2133: audio-amplifier-0 {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&gpio GPIOA_5 GPIO_ACTIVE_HIGH>;
		VCC-supply = <&vcc_5v>;
		sound-name-prefix = "U19";
		status = "okay";
	};

	/* TOFIX: handle CVBS_DET on SARADC channel 0 */
	cvbs-connector {
		compatible = "composite-video-connector";

		port {
			cvbs_connector_in: endpoint {
				remote-endpoint = <&cvbs_vdac_out>;
			};
		};
	};
};

&cpu0 {
	cpu-supply = <&vddcpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&clkc CLKID_CPU_CLK>;
	clock-latency = <50000>;
};

&cpu1 {
	cpu-supply = <&vddcpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&clkc CLKID_CPU1_CLK>;
	clock-latency = <50000>;
};

&cpu2 {
	cpu-supply = <&vddcpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&clkc CLKID_CPU2_CLK>;
	clock-latency = <50000>;
};

&cpu3 {
	cpu-supply = <&vddcpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&clkc CLKID_CPU3_CLK>;
	clock-latency = <50000>;
};

&pwm_AO_cd {
	pinctrl-0 = <&pwm_ao_d_e_pins>, <&pwm_ao_c_6_pins>;
	pinctrl-names = "default";
	clocks = <&xtal>;
	clock-names = "clkin1";
	status = "okay";
};

&sd_emmc_a {
	sd-uhs-sdr50;
};

&mali {
	status = "disabled";
};

/* GPIOAO_8 and GPIOAO_9 */
&uart_AO_B {
	status = "disabled";
	pinctrl-0 = <&uart_ao_b_8_9_pins>;
	pinctrl-names = "default";
};

&pwm_ef {
	status = "okay";
	pinctrl-0 = <&pwm_f_a_pins>;
	pinctrl-names = "default";
};

&spicc1 {
	status = "disabled";
	pinctrl-0 = <&spicc1_pins>, <&spicc1_ss0_pins>;
	pinctrl-names = "default";

	spidev@0 {
		status = "disabled";
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

/* GPIOA_14 and GPIOA_15 */
&i2c3 {
	clock-frequency = <100000>;
	pinctrl-0 = <&i2c3_sda_a_pins>, <&i2c3_sck_a_pins>;
	pinctrl-names = "default";
	status = "okay";

	hym8563: rtc@51 {
		status = "okay";
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
		wakeup-source;
	};
};

&i2c_AO {
	pinctrl-0 = <&i2c_ao_sck_pins>, <&i2c_ao_sda_pins>;
	pinctrl-names = "default";
	status = "disabled";
};

&cvbs_vdac_port {
	cvbs_vdac_out: endpoint {
		remote-endpoint = <&cvbs_connector_in>;
	};
};

&tdmif_b {
	status = "okay";
};

&tdmif_c {
	status = "okay";
};
