# Cix specific options
#
# overlay configs
CONFIG_FORCE_MAX_ZONEORDER=14

# disable other ARCH
CONFIG_ARCH_AGILEX=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_STRATIX10=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZX=n
CONFIG_ARCH_ZYNQMP=n

CONFIG_LOCALVERSION="-cix-build"
CONFIG_LOCALVERSION_AUTO=n

# Arm64 feature
CONFIG_ARM64_VHE=n
CONFIG_ARM64_MTE=n

# cix configs
CONFIG_ARCH_CIX=y

# Protocols
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_COUNT=16
CONFIG_BLK_DEV_RAM_SIZE=40960

# mtd device
CONFIG_MTD_SLRAM=m
CONFIG_MTD_PHRAM=y

# for dmabuf related heaps
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_DSP=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_DMABUF_HEAPS_VPU=y

# GMAC
CONFIG_MACB=y
CONFIG_PHYLINK=y

# realtek ethernet driver
CONFIG_R8125=m
CONFIG_R8126=m
CONFIG_R8127=m
CONFIG_PG_DRV=m

# ethernet phy driver
CONFIG_REALTEK_PHY=y

# for mbox driver
CONFIG_CIX_MBOX=y
CONFIG_ARM_MHU=n

CONFIG_CIX_AP2SE_IPC=y

# for watchdog driver
CONFIG_SKY1_WATCHDOG=y
CONFIG_WATCHDOG_SYSFS=y

# for timer driver
CONFIG_TIMER_SKY1_GPT=y

# for pwm driver
CONFIG_PWM_SKY1=y

# for reset driver
CONFIG_RESET_SKY1=y

# for pinctrl driver
CONFIG_PINCTRL_SKY1_BASE=y
CONFIG_PINCTRL_SKY1=y

# for gpio driver
CONFIG_GPIO_CADENCE=y
CONFIG_GPIO_SYSFS=y

# for rpmsg
CONFIG_RPMSG_CHAR=y
CONFIG_RPMSG_CTRL=y
CONFIG_RPMSG_NS=y
CONFIG_RPMSG_VIRTIO=y

# for dsp remoteproc driver
CONFIG_CIX_DSP_REMOTEPROC=m

# for sfh remoteproc driver
CONFIG_CIX_SHF_REMOTEPROC=m

# for VPU driver
CONFIG_MEDIA_SUPPORT=y
CONFIG_VIDEO_CAFE_CCIC=y

# ASoC
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_DEBUG=y
CONFIG_SND_DEBUG_VERBOSE=y
CONFIG_SND_PCM_XRUN_DEBUG=y
CONFIG_SND_TIMER=y
CONFIG_SND_PCM=y
CONFIG_SND_JACK=y
CONFIG_SND_JACK_INPUT_DEV=y
CONFIG_SND_PCM_TIMER=y
CONFIG_SND_PROC_FS=y
CONFIG_SND_SOC=y
CONFIG_SND_HDA_HWDEP=y

# ASoC Card driver
CONFIG_SND_SOC_CIX=m

# ASoC Codec driver
CONFIG_SND_SOC_RT5682S=m
CONFIG_SND_SOC_SN6040=m
CONFIG_SND_SOC_ES8326=m

# ASoC driver
CONFIG_SND_SOC_CDNS_I2S_SC=m
CONFIG_SND_SOC_CDNS_I2S_MC=m

#ASoC IPBLOQ HDA driver
CONFIG_SND_HDA_CIX_IPBLOQ=m

# REALTEK HDA CODEC driver
CONFIG_SND_HDA_CODEC_REALTEK=m

#SOF
CONFIG_CIX_DSP=m
CONFIG_SND_SOC_SOF_TOPLEVEL=y
CONFIG_SND_SOC_SOF_OF=m
CONFIG_SND_SOC_SOF_COMPRESS=y
CONFIG_SND_SOC_SOF_CIX_TOPLEVEL=y
CONFIG_SND_SOC_SOF_CIX_SKY1=m

# USB audio support
CONFIG_SND_USB=y
CONFIG_SND_USB_AUDIO=y

# Audio Subsystem clock driver
CONFIG_CLK_SKY1_AUDSS=m

# Audio Subsystem reset driver
CONFIG_RESET_SKY1_AUDSS=m

# Dummy Codec Driver
CONFIG_SND_SOC_DUMMY_CODEC=y

# HDMI Codec Driver
CONFIG_SND_SOC_HDMI_CODEC=m

# ISP driver
CONFIG_CAMERA_ARMCB=m

# DRM feature
CONFIG_DRM=y
# ARM D71 driver
CONFIG_DRM_KOMEDA=m
# ARM Linlon-DP driver
CONFIG_DRM_LINLONDP=m
# CONFIG_DRM_LINLONDP_CLOCK_FIXED=y
# virtual KMS driver
CONFIG_DRM_VKMS=m
# CIX DRM driver
CONFIG_DRM_CIX=y
CONFIG_DRM_CIX_VIRTUAL=y
CONFIG_LINLON_AEU=m
CONFIG_DRM_NOUVEAU=n

# for usb driver
CONFIG_USB_CDNS_SUPPORT=y
CONFIG_USB_CDNSP=y
CONFIG_USB_CDNSP_SKY1=y
CONFIG_USB_CDNSP_GADGET=y
CONFIG_USB_CDNSP_HOST=y
CONFIG_TYPEC=y
CONFIG_PHY_CIX_USBDP=y
CONFIG_PHY_CIX_USB2=y
CONFIG_PHY_CIX_USB3=y
CONFIG_TYPEC_RTS5453=y
# for usb uas
CONFIG_USB_UAS=y

# for QCOM lte 4g module support
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_USB_SERIAL_QT2=y
CONFIG_USB_NET_RNDIS_HOST=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDCETHER=y

# for usb test
CONFIG_USB_TEST=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_LB_SS=y

# LT7911UXC driver
CONFIG_VIDEO_LT7911UXC=m

# required by GPU
CONFIG_FW_LOADER=y
CONFIG_DMA_SHARED_BUFFER=y

# bluetooth driver
CONFIG_BT_RTKBTUSB=m
CONFIG_BT=y
CONFIG_BT_RFCOMM=y
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=y
CONFIG_BT_LE=y
CONFIG_BT_DEBUGFS=y
CONFIG_BT_HCIUART=y
CONFIG_UHID=m

# wlan driver
CONFIG_CFG80211=m
CONFIG_MAC80211=y
CONFIG_RFKILL=y
CONFIG_RFKILL_WLAN=y
CONFIG_RFKILL_BT=m

# Cadence I2C driver
CONFIG_I2C_CADENCE=y
CONFIG_IIO=y
CONFIG_MMC5633_I2C=n
# Cadence I3C driver
CONFIG_I3C=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_MMC5633_I3C=n
CONFIG_I3CDEV=y
#Power management configs
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_RESET_SCMI=n
CONFIG_CIX_CLK_DEBUG=y
CONFIG_COMMON_CLK_CIX=y
#CONFIG_ARM_CIX_CPUFREQ is not set
CONFIG_ARM_SCMI_CPUFREQ=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_COMMON_CLK_SCMI=y
CONFIG_CIX_SOC_ACPI=y
CONFIG_CIX_ACPI_CLK=y
CONFIG_CIX_ACPI_POWER_DOMAIN=y
CONFIG_ACPI_CPPC_CPUFREQ=y
CONFIG_PM=n
CONFIG_CPU_FREQ=y
CONFIG_CPU_PM=n
CONFIG_NO_HZ_IDLE=y
CONFIG_POWER_RESET_CIX=y
CONFIG_PM_DEBUG=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_DVFS_BOARD_CHECK=y
# CIX Devfreq
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_DEVFREQ_EVENT_CIX_PMU=y
CONFIG_ARM_CIX_BUS_DEVFREQ=y


# ARM dma350 driver
CONFIG_ARM_DMA350=m
CONFIG_DMATEST=y

# XSPI driver
CONFIG_SPI_CADENCE_XSPI=y

# SSPI driver
CONFIG_SPI_MASTER=y
CONFIG_SPI_SPIDEV=y
CONFIG_SPI_CADENCE=y

# csi-dma driver
CONFIG_CSI_DMA=m
CONFIG_VIDEO_CADENCE=y
CONFIG_VIDEO_CADENCE_CSI2RX=y
CONFIG_PHY_CADENCE_DPHY_RX=y

#pcie
CONFIG_PCIE_CADENCE=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_PCI_SKY1=y
CONFIG_PCI_SKY1_HOST=y
CONFIG_PHY_CIX_PCIE=y
CONFIG_PCIEASPM_POWERSAVE=y

# dp
CONFIG_DRM_TRILIN_DPSUB=m
CONFIG_DRM_CIX_EDP_PANEL=m

#hwmon
CONFIG_SENSORS_ARM_SCMI=y
CONFIG_SENSORS_PWM_FAN=y

# for ci-700 pmu
CONFIG_ARM_CMN=y

# for softlockup detector
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO_REDUCED=n
CONFIG_LOCKUP_DETECTOR=y
CONFIG_SOFTLOCKUP_DETECTOR=y

# for hung_task
CONFIG_DETECT_HUNG_TASK=y
CONFIG_DFX_HUNGTASK=y
CONFIG_DFX_HUNGTASK_USER=y

#for nvme support
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y

# for pstore
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_PMSG=y

# for arm sde driver
CONFIG_ARM_SDE_INTERFACE=y

# for cix dst support
CONFIG_SOC_CIX=y
CONFIG_CIX_CPU_INSTPIPE_FRESH=y
CONFIG_CIX_DST=y
CONFIG_PLAT_PRINTK_EXT=y
CONFIG_PLAT_BOOT_TIME=y
CONFIG_PLAT_BOOT_POSTCODE=y
CONFIG_PLAT_REBOOT_REASON=y
CONFIG_SKY1_REBOOT_REASON=y
CONFIG_PLAT_MNTNDUMP=y
CONFIG_PLAT_KERNELDUMP=y
# Blackbox configs
CONFIG_PLAT_BBOX=y
# CONFIG_PLAT_BBOX_TEST=y
# CONFIG_PLAT_TEE_EXCEPTIONS=y
CONFIG_PLAT_AP_HOOK=y
CONFIG_PLAT_SDEI_EXCEPTIONS=y
CONFIG_PLAT_FDLEAK=y
CONFIG_PLAT_LOGGER=y
CONFIG_PLAT_DSM=y
CONFIG_PLAT_IDM_DETECT=y
CONFIG_PLAT_TFA_TRACE=y
CONFIG_PLAT_TZC400_DETECT=y
CONFIG_PLAT_SKY1_AUDIO_TIMEOUT=y
CONFIG_PLAT_SKY1_RCSU_GASKET_ERROR=y
CONFIG_PLAT_SKY1_SE_PM_CRASH=y
CONFIG_PLAT_HW_BREAKPOINT=y
# pmic exception
CONFIG_PM_EXCEPTION_DRIVER=y
CONFIG_PM_EXCP_DSM_DRIVER=y
# ddr exception
CONFIG_PLAT_DDR_EXCEPTION_DETECT=y
# cache exception monitor
CONFIG_PLAT_CACHE_EXCEPTION_MONITOR=y

# for fd over check
CONFIG_FD_OVER_CHECK=y
CONFIG_PLAT_WAKEUP_SOURCE=y

# add coresight hw tracing support
#CONFIG_CORESIGHT=y
#CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
#CONFIG_CORESIGHT_LINKS_AND_SINKS=y
#CONFIG_CORESIGHT_SOURCE_ETM4X=y
#CONFIG_CORESIGHT_CATU=y
# add trbe support
#CONFIG_CORESIGHT_TRBE=y

# logbuf size 1Mb
CONFIG_LOG_BUF_SHIFT=20

# dsu partial powerdown
CONFIG_ARM64_DSU_PCTRL_DEVFREQ=y

# for pmu events
CONFIG_ARM_PMU=y
CONFIG_PERF_EVENTS=y
CONFIG_HW_PERF_EVENTS=y

# for dsu pmu
CONFIG_ARM_DSU_PMU=y

# for arm smmu pmu
CONFIG_ARM_SMMU_PMU=y

# for hwspinlock
CONFIG_HWSPINLOCK_SKY1=y

# for third party rtc driver
CONFIG_RTC_DRV_RX8900=y

# for acpi i2c hid driver
CONFIG_I2C_HID_ACPI=y

# for spe pmu
CONFIG_ARM_SPE_PMU=y

# for cix sky1 fuse driver
CONFIG_NVMEM_SKY1=y

# for cix sky1 socinfo driver
CONFIG_CIX_SKY1_SOCINFO=y

# for cix sensorhub driver
CONFIG_CIX_SENSORHUB=y

# for mpam feature
CONFIG_ARM64_MPAM=n
CONFIG_MPAM_ARCH=n
CONFIG_MPAM_POLICY=n

#for BPF
CONFIG_BPF_SYSCALL=n

# for hw trng feature
CONFIG_HW_RANDOM_OPTEE=n
CONFIG_HW_RANDOM_SKY1=n
CONFIG_HW_RANDOM=n

# for ec drivers
CONFIG_CIX_EC=y
CONFIG_PWM_CROS_EC=y


# for dynamic debug
CONFIG_DEBUG_FS=y
CONFIG_DYNAMIC_DEBUG=y

CONFIG_ISO9660_FS=y

# for cloud book e shutter feature
CONFIG_CIX_SKY1_E_SHUTTER=y

# EAS
CONFIG_SCHED_DEBUG=y

#Thermal
CONFIG_THERMAL_WRITABLE_TRIPS=y

#for i2c slave mode test
CONFIG_I2C_SLAVE_EEPROM=y

#for sensorhub framework
CONFIG_CIX_KERNEL_SENSORHUB=y
CONFIG_CIX_SF_SCP_SUPPORT=y
CONFIG_CIX_HF_TEST_CASE=y

#
# Scheduler features
#
CONFIG_UCLAMP_TASK=y
CONFIG_UCLAMP_BUCKETS_COUNT=20
CONFIG_UCLAMP_TASK_GROUP=y
CONFIG_CFS_BANDWIDTH=y
# end of Scheduler features
CONFIG_PSI=y
CONFIG_BLK_CGROUP_IOLATENCY=y
CONFIG_BLK_CGROUP_IOCOST=y
CONFIG_BLK_CGROUP_IOPRIO=y

#Input subsystem
CONFIG_INPUT_UINPUT=y

#ARM SCMI supports both DT and ACPI, default only support DT
CONFIG_ARM_SCMI_SUPPORT_DT_ACPI=y
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_VENDOR_MELLANOX=n


# for ftrace
CONFIG_NOP_TRACER=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_HAVE_FTRACE_MCOUNT_RECORD=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_TRACE_CLOCK=y
CONFIG_RING_BUFFER=y
CONFIG_EVENT_TRACING=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_TRACING=y
CONFIG_TRACING_SUPPORT=y
CONFIG_FTRACE=y

#thermal
CONFIG_THERMAL_DEFAULT_GOV_POWER_ALLOCATOR=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_CIX_THERMAL=y

# add vendor hook support
CONFIG_CIX_VENDOR_HOOKS=y

# for amdgpu
CONFIG_DRM_AMDGPU=m
CONFIG_DRM_AMDGPU_SI=y
CONFIG_DRM_AMDGPU_CIK=y
CONFIG_DRM_TTM=m
CONFIG_DRM_TTM_HELPER=m
CONFIG_DRM_KMS_HELPER=m
CONFIG_DRM_VRAM_HELPER=m
# add hiview driver support
CONFIG_HIEVENT=y
CONFIG_HISYSEVENT=y

# add exfat fs support
CONFIG_EXFAT_FS=y
CONFIG_CIX_SE_CONFIG=y

# add panfrost support
CONFIG_DRM_PANTHOR=m

CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_MISC=y
