#
# Copyright(c) 2017-2018 Allwinnertech Co., Ltd.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#

#
# sunxi bootevent debugger driver.
#
config AW_BOOTEVENT
  tristate "Enable aw bootevent debugger tool"
  default n
  help
    AW_BOOTEVENT is used to debug bootting time,If you are not sure
	about whether to enable it or not, please set n.

