# SPDX-License-Identifier: GPL-2.0

menu "USB Gadget Drivers"
	depends on AW_BSP

#
# USB Gadget Drivers
#

if USB_GADGET

menuconfig USB_SUNXI_GADGET
	tristate "Allwinner USB Gadget support"
	depends on AW_BSP
	help
          Allwinner USB Gadget Drivers.

	  This option is of interest only to developers who need to
	  develop on AllWinner SoC.

	  If unsure, say N.

source "bsp/drivers/usb/gadget/function/Kconfig"

source "bsp/drivers/usb/gadget/legacy/Kconfig"

endif # USB_GADGET

endmenu
