# SPDX-License-Identifier: GPL-2.0-only
#
# resistive touch panel driver configuration
#
menu "Resistive Touch Panel Drivers"
	depends on AW_BSP

config AW_RTP
	tristate "Resistive Touch Panel Support for Allwinner SoCs"
	select INPUT_EVDEV
        default n
	help
	  This enables the resistive touch panel controller(TPADC)
	  on Allwinner SoCs.

endmenu
