# SPDX-License-Identifier: GPL-2.0-only
#
# MMC/SD host controller drivers
#

menu "SD/MMC Drivers"
	depends on AW_BSP

config AW_MMC_HSQ
	tristate "Allwinner SD/MMC SoftQueue Support"
	depends on MMC
	depends on !MMC_HSQ
	help
	  This selects inplace SoftQueue Support

config AW_MMC
	tristate "Allwinner SD/MMC Host Controller Support"
	depends on MMC
	depends on MMC_HSQ || AW_MMC_HSQ

	help
	  This selects support for the SD/MMC Host Controller on
	  Allwinner SoCs.

config AW_MMC_V4P1X
	bool "V4P1X SD/MMC Host Controller Support"
	depends on AW_MMC
	default y
	help
	  V4P1X SD/MMC Host Contrller support.

config AW_MMC_V4P00X
	bool "V4P00X SD/MMC Host Controller Support"
	depends on AW_MMC
	default y
	help
	  V4P00X SD/MMC Host Contrller support.

config AW_MMC_V4P10X
	bool "V4P10X SD/MMC Host Controller Support"
	depends on AW_MMC
	default n
	help
	  V4P10X SD/MMC Host Contrller support.

config AW_MMC_V4P5X
	bool "V4P5X SD/MMC Host Controller Support"
	depends on AW_MMC
	default y
	help
	  V4P5X SD/MMC Host Contrller support.

config AW_MMC_V5P3X
	bool "V5P3X SD/MMC Host Controller Support"
	depends on AW_MMC
	default y
	help
	  V5P3X SD/MMC Host Contrller support.

config AW_MMC_DEBUG
	bool "SD/MMC Host Controller debug support"
	depends on AW_MMC
	default n
	help
	  AW SD/MMC Host Contrller debug support.

config AW_MMC_PRE_DBGLVL
        int "Pre-defined debug level for AW MMC driver"
	depends on AW_MMC && AW_MMC_DEBUG
	default 3

config AW_MMC_CQHCI
	tristate "Allwinner Command Queue Host Controller Interface support"
	depends on AW_MMC
	depends on HAS_DMA
	help
	  This selects the Command Queue Host Controller Interface (CQHCI)
	  support present in host controllers of Qualcomm Technologies, Inc
	  amongst others.
	  This controller supports eMMC devices with command queue support.
	  If you have a controller with this interface, say Y or M here.
	  If unsure, say N.

config AW_MMC_PSTORE_PANIC
    tristate "MMC Pstore block-backend Support Panic Write"
    depends on AW_MMC
	depends on AW_PSTORE_BLK
    default n
    help
	  The selects for pstore block-backend to write frontend message in panic context

	  If unsure, say N.
endmenu
