# SPDX-License-Identifier: GPL-2.0-only
menu "Timer Drivers"
	depends on GENERIC_CLOCKEVENTS
	depends on AW_BSP

config AW_TIMER
	tristate "Timer support for Allwinner SoCs"
	depends on HAS_IOMEM
	select CLKSRC_MMIO
	select TIMER_OF
	help
	  Enables support for the Sun4i timer.

config AW_TIMER_SUN50I
	tristate "Timer support for Allwinner Sun50i SoCs"
	depends on HAS_IOMEM
	select CLKSRC_MMIO
	select TIMER_OF
	help
	  Enables support for the Sun50i timer.

config AW_TIMER_DYNAMIC_DEBUG
	bool "Enable timer dynamic debug"
	depends on AW_TIMER || AW_TIMER_SUN50I
	default y
	help
	  Enable timer dynamic debug

endmenu
