#
# dump reg config.
#

config DUMP_REG
	tristate "dump reg driver for sunxi platform"
	default y
	---help---
	  Say y here if you want to support dump regs module.
	  The dump regs module is used to dump regs of any device.
	  When in doubt, say "Y".

config DUMP_REG_MISC
	tristate "dump reg misc driver"
	depends on DUMP_REG
	default y
	---help---
	  Add misc driver support, you can use dump regs function
	  via ("/sys/class/...") sysfs interface.
	  When in doubt, say "Y".
