# SPDX-License-Identifier: GPL-2.0-or-later
#
# Allwinner audio codecs driver Kconfig
#
# Copyright(c) 2022-2027 Allwinnertech Co., Ltd.

menu "CODEC drivers"

config SND_SOC_AC101
	tristate "Allwinner AC101 CODEC"
	depends on I2C
	default n
	help
	  Enable support for the Allwinner AC101 CODEC.
	  The device provides a I2S/TDM/PDM interface for audio data
	  and a standard I2C interface for control data communication.
	  Select this if your sound card has AC101.

config SND_SOC_AC101B
	tristate "Allwinner AC101B CODEC"
	depends on I2C
	default n
	help
	  Enable support for the Allwinner AC101B CODEC.
	  The device provides a I2S/TDM/PDM interface for audio data
	  and a standard I2C interface for control data communication.
	  Select this if your sound card has AC101B.

config SND_SOC_AC107
	tristate "Allwinner AC107 CODEC"
	depends on I2C
	default n
	help
	  Enable support for the Allwinner AC107 CODEC.
	  The device provides a I2S/TDM/PDM interface for audio data
	  and a standard I2C interface for control data communication.
	  Select this if your sound card has AC107.

config SND_SOC_AC108
	tristate "Allwinner AC108 CODEC"
	depends on I2C
	default n
	help
	  Enable support for the Allwinner AC108 CODEC.
	  The device provides a I2S/TDM/PDM interface for audio data
	  and a standard I2C interface for control data communication.
	  Select this if your sound card has AC108.

config SND_SOC_FS16XX
	tristate "SoC Audio for FourSemi FS1894SU PA"
	depends on I2C
	default n
	help
	  This option enables support for FourSemi PA.
	  The device supports a I2S interface for audio data
	  and a standard I2C interface for control data communication.
	  Select this if your sound card has FourSemi FS1894SU PA.

config SND_SOC_ES8323
        tristate "Everest Semi ES8323 CODEC"
        depends on I2C

endmenu
