# SPDX-License-Identifier: GPL-2.0
#
# Makefile for the sensor drivers.
#
# Each configuration option enables a list of files.


menuconfig AW_INPUT_MISC
    bool "Misc Input Device Support"
    help
      Say Y here, and a list of supported sensor will be displayed.
      This option doesn't affect the kernel.

      If unsure, say Y.

if AW_INPUT_MISC

source "bsp/drivers/input/misc/hall_sensor/Kconfig"
source "bsp/drivers/input/misc/vibrator/Kconfig"

endif
