#
# Goodix GT9xx Touchscreen driver
#
config TOUCHSCREEN_GT9XX
	tristate "Goodix touchpanel GT9xx series"
	depends on I2C
	help
	  Say Y here if you have a Goodix GT9xx touchscreen
	  controller.

	  If build module, say M.
	  If unsure, say N.
