#include "rk3399-orangepi-4.dts"

/ {
	model = "OrangePi 4 LTS";

	heaadphones-sound {
	    status = "okay";
	    compatible = "simple-audio-card";
	    simple-audio-card,format = "i2s";
	    simple-audio-card,name = "rockchip-es8316c";
	    simple-audio-card,mclk-fs = <256>;
	    simple-audio-card,cpu {
	        sound-dai = <&i2s0>;
	    };
	    simple-audio-card,codec {
	        sound-dai = <&es8316>;
	    };
	};

	sprd-wlan {
	        compatible = "sprd,uwe5622-wifi";
	        status = "okay";
	};

	unisoc_uwe_bsp: uwe-bsp {
	        compatible = "unisoc,uwe_bsp";
	        wl-reg-on = <&gpio0 RK_PB2 GPIO_ACTIVE_HIGH>;
	        bt-reg-on = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
	        wl-wake-host-gpio = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>;
	        bt-wake-host-gpio = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
	        sdio-ext-int-gpio = <&gpio3 RK_PD6 GPIO_ACTIVE_HIGH>;
	        //unisoc,btwf-file-name = "/lib/firmware/uwe5621ds/wcnmodem.bin";
	        unisoc,btwf-file-name = "/lib/firmware/wcnmodem.bin";
	        //adma-tx;
	        //adma-rx;
	        data-irq;
	        blksz-512;
	        keep-power-on;
	        status = "okay";
	};

	sprd-mtty {
	        compatible = "sprd,mtty";
	        sprd,name = "ttyBT";
	        status = "okay";
	};

};

&rt5651_card {
	status = "disabled";
};

&rt5651 {
	status = "disabled";
};

&i2s0 {
        status = "okay";
        rockchip,i2s-broken-burst-len;
        rockchip,playback-channels = <8>;
        rockchip,capture-channels = <8>;
        #sound-dai-cells = <0>;
};

&i2s1 {
	status = "disabled";
};

&i2c1 {
	status = "okay";

	es8316: es8316@11 {
		#sound-dai-cells = <0>;
		compatible = "everest,es8316";
		reg = <0x11>;
		clocks = <&cru SCLK_I2S_8CH_OUT>;
		clock-names = "mclk";
		//pinctrl-names = "default";
		//pinctrl-0 = <&i2s_8ch_mclk>;
		hp-det-gpio = <&gpio4 RK_PD4 GPIO_ACTIVE_LOW>;
	};
};

&sdio0 {
        clock-frequency = <150000000>;
        clock-freq-min-max = <200000 150000000>;
};

&i2c8 {
	status = "okay";
};

&pmic_int_l {
	rockchip,pins = <2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
};

&rk808 {
	interrupt-parent = <&gpio2>;
	interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
};

