// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 Akash Gajjar <akash@openedev.com>
 * Copyright (c) 2019 Jagan Teki <jagan@openedev.com>
 */

/dts-v1/;
#include "rk3308.dtsi"

/ {
	model = "Radxa ROCK Pi S";
	compatible = "radxa,rockpis", "rockchip,rk3308";

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&green_led_gio>, <&heartbeat_led_gpio>;

		green-led {
			label = "rockpis:green:power";
			gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			default-state = "on";
		};

		blue-led {
			label = "rockpis:blue:user";
			gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	codec: acodec-sound {
			compatible = "simple-audio-card";
			simple-audio-card,format = "i2s";
			simple-audio-card,name = "rockchip,rk3308-acodec";
			simple-audio-card,mclk-fs = <256>;
			simple-audio-card,codec-hp-det;
			simple-audio-card,widgets =
				"Headphone", "Headphones";
			simple-audio-card,cpu {
				sound-dai = <&i2s_8ch_2>;
			};
			simple-audio-card,codec {
				sound-dai = <&acodec>;
			};
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "i2s_8ch_0";

		simple-audio-card,dai-link@1 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s_8ch_0>;
			};

			codec {
				sound-dai = <&pcm5102a>;
			};
		};
	};

	pcm5102a: pcm5102a {
			#sound-dai-cells = <0>;
			compatible = "ti,pcm5102a";
			pcm510x,format = "i2s";
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
    /*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vdd_core: vdd-core {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		regulator-name = "vdd_core";
		regulator-min-microvolt = <827000>;
		regulator-max-microvolt = <1340000>;
		regulator-init-microvolt = <1015000>;
		regulator-settling-time-up-us = <250>;
		regulator-always-on;
		regulator-boot-on;
		pwm-supply = <&vcc5v0_sys>;
	};

	vdd_log: vdd-log {
		compatible = "regulator-fixed";
		regulator-name = "vdd_log";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1050000>;
		regulator-max-microvolt = <1050000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_io>;
	};

	vcc_io: vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

  vcc_phy: vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
	};

	vcc5v0_otg: vcc5v0-otg {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg";
		regulator-always-on;
		gpio = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&otg_vbus_drv>;
		vin-supply = <&vcc5v0_sys>;
	};

  // wireless-wlan {
  //   compatible = "wlan-platdata";
  //   rockchip,grf = <&grf>;
  //   clocks = <&cru SCLK_WIFI>;
  //   clock-names = "clk_wifi";
  //   ref-clock-frequency = <24000000>;
  //   pinctrl-names = "default";
  //   pinctrl-0 = <&wifi_host_wake>;
  //   wifi_chip_type = "rtl8723ds";
  //   WIFI,host_wake_irq = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
  //   status = "okay";
  // };
};

&acodec {
	status = "okay";
	#sound-dai-cells = <0>;
};

&cpu0 {
	cpu-supply = <&vdd_core>;
};

&cpu0_opp_table {
	opp-1200000000 {
		status = "okay";
	};
	opp-1296000000 {
		status = "okay";
	};
};

&emmc {
	bus-width = <4>;  // Confirm if right value - <8>
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	/* supports-sd; */
	/* disable-wp; */
	non-removable;
	/* num-slots = <1>; */
	/* please provide actual vmmc and vqmmc supplies
	vin is not a valid supply for emmcs */
	vin-supply = <&vcc_io>;
	status = "disabled";
};

&i2c1 {
	status = "okay";
};

&sdmmc {
	/* bus-width = <4>; */
	cap-mmc-highspeed;
	cap-sd-highspeed;
	/* max-frequency = <150000000>; */
	/* supports-sd; */
	disable-wp;
	/* num-slots = <1>; */
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_det &sdmmc_bus4>;
	card-detect-delay = <800>; // Confirm if right value - <200>
	status = "okay";
};

&gmac {
	phy-supply = <&vcc_phy>;
	clock_in_out = "output";
	assigned-clocks = <&cru SCLK_MAC>;
	assigned-clock-parents = <&cru SCLK_MAC_SRC>;
	snps,reset-gpio = <&gpio0 RK_PA7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 50000 50000>;
	status = "okay";
};

&i2s_8ch_0 {
	assigned-clocks = <&cru SCLK_I2S0_8CH_RX>;
	assigned-clock-parents = <&cru SCLK_I2S0_8CH_TX_MUX>;
	rockchip,clk-trcm = <1>;
	#sound-dai-cells = <0>;
};

&i2s_8ch_2 {
	status = "okay";
	#sound-dai-cells = <0>;
};

&spi2 {
	status = "okay";
	max-freq = <10000000>;
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&rtc_32k>;

	leds {
		green_led_gio: green-led-gpio {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		heartbeat_led_gpio: heartbeat-led-gpio {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		otg_vbus_drv: otg-vbus-drv {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wifi {
		wifi_host_wake: wifi-host-wake {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_pin_pull_down>;
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&sdio {
	#address-cells = <1>;
	#size-cells = <0>;
	/* bus-width = <4>;  */
	max-frequency = <1000000>;
	cap-sd-highspeed;
	cap-sdio-irq;
	/* supports-sdio; */
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	sd-uhs-sdr104;
	status = "okay";

	rtl8723ds: wifi@1 {
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 GPIO_ACTIVE_HIGH>;
		interrupt-names = "host-wake";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake>;
	};
};

&tsadc {
	rockchip,hw-tshut-mode = <0>;		/* 0:CRU */
	rockchip,hw-tshut-polarity = <1>;	/* 1:HIGH */
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_xfer &uart4_rts &uart4_cts>;
	status = "okay";
};

&u2phy {
	status = "okay";

	u2phy_host: host-port {
		phy-supply = <&vcc5v0_otg>;
		status = "okay";
	};

	u2phy_otg: otg-port {
		status = "okay";
	};
};

&usb20_otg {
	status = "okay";
};

&usb_host_ehci {
	status = "okay";
};

&usb_host_ohci{
	status = "okay";
};
