# V0.1 BSP Min System
CONFIG_AW_BSP=y
CONFIG_ARCH_SUN55I=y
CONFIG_AW_IC_BOARD=y
CONFIG_AW_SOC_NAME="A523"
CONFIG_AW_CCU=m
CONFIG_AW_PINCTRL=m
CONFIG_AW_UART=m
CONFIG_AW_SERIAL_CONSOLE=y
CONFIG_AW_EARLY_PRINTK=y
CONFIG_AW_TIMER_SUN50I=m

# V0.3 BSP Basic System
CONFIG_AW_DMA=m
CONFIG_AW_DUMP_REG=m
CONFIG_AW_RTC=m
CONFIG_AW_RTC_REBOOT_FLAG=y
CONFIG_AW_RTC_POWEROFF_ALARM=y
CONFIG_AW_WATCHDOG=m
CONFIG_AW_NSI=m

# V0.5 BSP Peripheral Module
CONFIG_AW_I2C=m
CONFIG_AW_PWM=m
CONFIG_AW_LRADC=m
CONFIG_AW_LEDC=m
CONFIG_AW_IR_RX=m
CONFIG_AW_IR_TX=m
CONFIG_AW_GPADC=m
CONFIG_AW_SPI=m
CONFIG_AW_PCIE_RC=m
CONFIG_AW_HWSPINLOCK=m
CONFIG_AW_MSGBOX=m
CONFIG_AW_SID=m
CONFIG_AW_SYS_INFO=m
CONFIG_AW_SMC=m
CONFIG_AW_NAND=m
CONFIG_AW_MMC_HSQ=m
CONFIG_AW_MMC=m
#USB
CONFIG_USB_OHCI_HCD=m # only for Linux-6.1
CONFIG_USB_EHCI_HCD_SUNXI=m
CONFIG_USB_OHCI_HCD_SUNXI=m
CONFIG_USB_SUNXI_HCD=m
CONFIG_USB_SUNXI_HCI=m
CONFIG_USB_SUNXI_EHCI0=m
CONFIG_USB_SUNXI_EHCI1=m
CONFIG_USB_SUNXI_OHCI0=m
CONFIG_USB_SUNXI_OHCI1=m
CONFIG_USB_SUNXI_USB=m
CONFIG_USB_SUNXI_UDC0=m
CONFIG_USB_SUNXI_USB_MANAGER=m
CONFIG_USB_SUNXI_USB_DEBUG=m
CONFIG_USB_SUNXI_USB_ADB=m

# V1.0 Complete System & Android min system
# System
CONFIG_AW_IOMMU=m
CONFIG_AW_CRASHDUMP=m
CONFIG_AW_CRASHDUMP_KEY=y
# CTP
CONFIG_AW_INPUT_SENSORINIT=m
CONFIG_AW_INPUT_CTP=y
CONFIG_TOUCHSCREEN_GT9XX=m
CONFIG_AW_INPUT_SENSOR=y
CONFIG_AW_INPUT_MISC=y
CONFIG_AW_HALL_SENSOR=m
# Power
CONFIG_AW_THERMAL=m
CONFIG_AW_PM_DOMAINS=m
CONFIG_AW_PCK600_DOMAINS=m
CONFIG_AW_POWER_DOMAIN_TEST=m
CONFIG_AW_MFD_AXP2101_I2C=m
CONFIG_AW_MFD_PMU_EXT_I2C=m
CONFIG_AW_REGULATOR_AXP2101=m
CONFIG_AW_REGULATOR_PMU_EXT=m
CONFIG_AW_INPUT_AXP2101_PEK=m
CONFIG_AW_AXP2202_POWER=m
CONFIG_AW_CPUFREQ_DT=m
CONFIG_AW_DMC_DEVFREQ=m
CONFIG_AW_EVENT_DDR=m
# DE(Display)
CONFIG_FB=m
CONFIG_AW_DISP2=m
CONFIG_EDP2_AW_DISP2=m
CONFIG_EDP_SUPPORT_VVX10T025J00_2560X1600=m
CONFIG_DISP_PHY_INNO_EDP_1_3=m
CONFIG_AW_DISP2_DEBUG=y
CONFIG_AW_DISP2_COMPOSER=y
# LCD
# GPU
CONFIG_AW_GPU_TYPE="mali-g57"
