/dts-v1/;
/plugin/;

/ {
	compatible = "rockchip,rk3588s-orangepi-5", "rockchip,rk3588";

	fragment@0 {
		target = <&csi2_dcphy0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&mipi0_csi2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&rkcif_mipi_lvds>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mipi_lvds_sditf>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&rkisp1_vir0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&i2c3>;

		__overlay__ {
			status = "okay";

			vm149c-p2@c {
				status = "okay";
			};

			ov13850-2@10 {
				status = "okay";
			};
		};
	};

	fragment@7 {
		target = <&rkcif>;

		__overlay__ {
		        status = "okay";
		};
	};

	fragment@8 {
		target = <&rkcif_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&rkisp1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@10 {
		target = <&isp1_mmu>;

		__overlay__ {
			status = "okay";
		};
	};
};
