/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	fragment@0 {
		target = <&i2c1>;

		__overlay__ {
        		status = "okay";

        		ov5647: ov5647@36 {
        		        status = "okay";
        		        compatible = "ovti,ov5647";
        		        reg = <0x36>;
				clocks = <&ext_cam_ov5647_clk>;
        		        clock-names = "ext_cam_ov5647_clk";
        		        pwdn-gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_LOW>;
				rockchip,camera-module-index = <0>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "TongJu";
				rockchip,camera-module-lens-name = "CHT842-MD";
        		        port {
        		                ov5647_out: endpoint {
        		                        remote-endpoint = <&dphy1_in>;
        		                        data-lanes = <1 2>;
        		                };
        		        };
        		};
		};
	};

	fragment@1 {
		target = <&csi2_dphy0>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target = <&csi2_dphy1>;

		__overlay__ {
			status = "okay";
        		ports {
        		        #address-cells = <1>;
        		        #size-cells = <0>;

        		        port@0 {
        		                reg = <0>;
        		                #address-cells = <1>;
        		                #size-cells = <0>;

        		                dphy1_in: endpoint@1 {
        		                                reg = <1>;
        		                                remote-endpoint = <&ov5647_out>;
        		                                data-lanes = <1 2>;
        		                };
        		        };

        		        port@1 {
        		                reg = <1>;
        		                #address-cells = <1>;
        		                #size-cells = <0>;

        		                dphy1_out: endpoint@1 {
        		                                reg = <1>;
        		                                remote-endpoint = <&isp0_in>;
        		                };
        		        };
        		};
		};
	};

	fragment@4 {
		target = <&csi2_dphy_hw>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&rkisp>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&rkisp_mmu>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&rkisp_vir0>;
		__overlay__ {
        		status = "okay";
        		port {
        		        #address-cells = <1>;
        		        #size-cells = <0>;

        		        isp0_in: endpoint@0 {
        		                reg = <0>;
        		                remote-endpoint = <&dphy1_out>;
        		        };
        		};
		};
	};
};
