/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&csi2_dphy1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&mipi2_csi2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&rkcif_mipi_lvds2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mipi_lvds2_sditf>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&rkisp0_vir0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&i2c4>;

		__overlay__ {
			status = "okay";

			ov5647-1@36 {
				status = "okay";
			};

			imx219-1@10 {
				status = "okay";
			};
		};
	};
};
