/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&csi2_dcphy0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&mipi0_csi2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&rkcif_mipi_lvds>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mipi_lvds_sditf>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&rkisp1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&rkisp1_vir0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&i2c6>;

		__overlay__ {
			status = "okay";

			ov5647-4@36 {
				status = "okay";
			};

			imx219-4@10 {
				status = "okay";
			};
		};
	};
};
