if ARCH_SUNXI
menu "Allwinner SOC PINCTRL DRIVER"

config PINCTRL_SUNXI
	bool
	select PINMUX
	select GENERIC_PINCONF

config PINCTRL_SUNXI_TEST
	tristate "pinctrl sunxi test driver"
	default n

config PINCTRL_SUN4I_A10
	def_bool MACH_SUN4I
	select PINCTRL_SUNXI

config PINCTRL_SUN5I_A10S
	def_bool MACH_SUN5I
	select PINCTRL_SUNXI

config PINCTRL_SUN5I_A13
	def_bool MACH_SUN5I
	select PINCTRL_SUNXI

config PINCTRL_GR8
	def_bool MACH_SUN5I
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN6I_A31
	def_bool MACH_SUN6I
	select PINCTRL_SUNXI

config PINCTRL_SUN6I_A31S
	def_bool MACH_SUN6I
	select PINCTRL_SUNXI

config PINCTRL_SUN6I_A31_R
	def_bool MACH_SUN6I
	depends on RESET_CONTROLLER
	select PINCTRL_SUNXI

config PINCTRL_SUN7I_A20
	def_bool MACH_SUN7I
	select PINCTRL_SUNXI

config PINCTRL_SUN8I_A23
	def_bool MACH_SUN8I
	select PINCTRL_SUNXI

config PINCTRL_SUN8I_A33
	def_bool MACH_SUN8I
	select PINCTRL_SUNXI

config PINCTRL_SUN8I_A83T
	def_bool MACH_SUN8I
	select PINCTRL_SUNXI

config PINCTRL_SUN8I_A23_R
	def_bool MACH_SUN8I
	depends on RESET_CONTROLLER
	select PINCTRL_SUNXI

config PINCTRL_SUN8I_H3
	def_bool MACH_SUN8I
	select PINCTRL_SUNXI

config PINCTRL_SUN8I_H3_R
	def_bool MACH_SUN8I
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN9I_A80
	def_bool MACH_SUN9I
	select PINCTRL_SUNXI

config PINCTRL_SUN9I_A80_R
	def_bool MACH_SUN9I
	depends on RESET_CONTROLLER
	select PINCTRL_SUNXI

config PINCTRL_SUN8IW6P1
	def_bool ARCH_SUN8IW6
	depends on ARCH_SUN8IW6
	bool "Pinctrl sun8iw6p1 PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW6P1_R
	def_bool PINCTRL_SUN8IW6P1
	depends on PINCTRL_SUN8IW6P1
	bool "Pinctrl PINCTRL_SUN8IW6P1 R_PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW7P1
	def_bool ARCH_SUN8IW7
	depends on ARCH_SUN8IW7
	bool "Pinctrl sun8iw7p1 PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW7P1_R
	def_bool PINCTRL_SUN8IW7P1
	depends on PINCTRL_SUN8IW7P1
	bool "Pinctrl PINCTRL_SUN8IW7P1 R_PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW11P1
	def_bool ARCH_SUN8IW11
	depends on ARCH_SUN8IW11
	bool "Pinctrl sun8iw11p1 PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW15P1
	def_bool ARCH_SUN8IW15
	depends on ARCH_SUN8IW15
	bool "Pinctrl sun8iw15p1 PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW15P1_R
	def_bool PINCTRL_SUN8IW15P1
	depends on PINCTRL_SUN8IW15P1
	bool "Pinctrl PINCTRL_SUN8IW15P1 R_PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW17P1
	def_bool ARCH_SUN8IW17
	depends on ARCH_SUN8IW17
	bool "Pinctrl sun8iw17p1 PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW17P1_R
	def_bool PINCTRL_SUN8IW17P1
	depends on PINCTRL_SUN8IW17P1
	bool "Pinctrl PINCTRL_SUN8IW17P1 R_PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN50IW1P1
	def_bool ARCH_SUN50IW1P1
	depends on ARCH_SUN50IW1P1
	bool "Pinctrl sun50iw1p1 PIO conctrller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW1P1_R
	def_bool ARCH_SUN50IW1P1
	depends on ARCH_SUN50IW1P1
	bool "Pinctrl sun50iw1p1 R_PIO conctrller"
	select PINCTRL_SUNXI
config PINCTRL_SUN50IW3P1
	def_bool ARCH_SUN50IW3P1
	depends on ARCH_SUN50IW3P1
	bool "Pinctrl sun50iw3p1 PIO conctrller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW3P1_R
	def_bool ARCH_SUN50IW3P1
	depends on ARCH_SUN50IW3P1
	bool "Pinctrl sun50iw3p1 R_PIO conctrller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW6P1
	def_bool ARCH_SUN50IW6P1
	depends on ARCH_SUN50IW6P1
	bool "Pinctrl sun50iw6p1 PIO controller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW6P1_R
	def_bool ARCH_SUN50IW6P1
	depends on ARCH_SUN50IW6P1
	bool "Pinctrl sun50iw6p1 R_PIO controller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW8P1
	def_bool ARCH_SUN50IW8P1
	depends on ARCH_SUN50IW8P1
	bool "Pinctrl sun50iw8p1 PIO conctrller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW8P1_R
	def_bool ARCH_SUN50IW8P1
	depends on ARCH_SUN50IW8P1
	bool "Pinctrl sun50iw8p1 R_PIO conctrller"
	select PINCTRL_SUNXI

config PINCTRL_SUN8IW18P1
	def_bool ARCH_SUN8IW18
	depends on ARCH_SUN8IW18
	bool "Pinctrl sun8iw18p1 PIO controller"
	select PINCTRL_SUNXI_COMMON

config PINCTRL_SUN8IW18P1_R
	def_bool PINCTRL_SUN8IW18P1
	depends on PINCTRL_SUN8IW18P1
	bool "Pinctrl PINCTRL_SUN8IW18P1 R_PIO controller"
	select PINCTRL_SUNXI_COMMON
config PINCTRL_SUN50IW5T
	def_bool ARCH_SUN50IW5T
	depends on ARCH_SUN50IW5T
	bool "Pinctrl sun50iw5t PIO conctrller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW5T_R
	def_bool ARCH_SUN50IW5T
	depends on ARCH_SUN50IW5T
	bool "Pinctrl sun50iw5t R_PIO conctrller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW9P1
	def_bool ARCH_SUN50IW9P1
	depends on ARCH_SUN50IW9P1
	bool "Pinctrl sun50iw9p1 PIO controller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW9P1_R
	def_bool ARCH_SUN50IW9P1
	depends on ARCH_SUN50IW9P1
	bool "Pinctrl sun50iw9p1 R_PIO controller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW10P1
	def_bool ARCH_SUN50IW10P1
	depends on ARCH_SUN50IW10P1
	bool "Pinctrl sun50iw10p1 PIO controller"
	select PINCTRL_SUNXI

config PINCTRL_SUN50IW10P1_R
	def_bool ARCH_SUN50IW10P1
	depends on ARCH_SUN50IW10P1
	bool "Pinctrl sun50iw10p1 R_PIO controller"
	select PINCTRL_SUNXI

endmenu
endif
