# SPDX-License-Identifier: GPL-2.0-only

comment"Choose one according to the actual usage"

config CRYPTO_DEV_SUNXI
	tristate "CE support the AF_ALG interface for user api"
	depends on ARCH_SUNXI
	select CRYPTO_MD5
	select CRYPTO_SHA1
	select CRYPTO_AES
	select CRYPTO_DES
	select CRYPTO_BLKCIPHER
	help
	  Allwinner Sunxi SoC have a crypto accelerator named
	  CryptoEngine.Select this if you want to use it.

config CRYPTO_DEV_SUNXI_IOCTL
	tristate "CE support the systemcall interface for user api"
	depends on ARCH_SUNXI
	help
	  Allwinner Sunxi SoC have a crypto accelerator named
	  CryptoEngine.Select this if you want to use it.
