#menu "ASoC support for SUNXI"
config SND_SUNXI_SOC_RW
	bool
config SND_SUNXI_SOC_AUDIO_DMA
	bool
config SND_SUNXI_SOC_SPDIF_UTILS
	bool
config SND_SOC_CS4385
	bool

menuconfig SND_SUNXI_SOC
	tristate "ASoC support for SUNXI"
	select SND_SUNXI_SOC_AUDIO_DMA
	#select SND_SUNXI_SOC_RW
	select SND_SOC_DMAENGINE_PCM
	---help---
	  Say Y if you want to add support for sound on sunxi chips.

if SND_SUNXI_SOC
config SND_SUNXI_SOC_INTERNAL_AUDIOCODEC
	tristate "ASoC support for audiocodec"
	depends on ARCH_SUN50IW1P1
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC interface.

config SND_SUNXI_SOC_INTERNAL_I2S
	tristate "ASoC support for internal-i2s"
	depends on ARCH_SUN50IW1P1
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  INTERNAL I2S interface.

config SND_SUNXI_SOC_AUDIO_CODEC_MACHINE
	tristate "ASoC support for audiocodec machine"
	depends on ARCH_SUN50IW1P1
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC MACHEINE interface.

config SND_SUNXI_SOC_INTERNAL_SUN8IW10_AUDIOCODEC
	tristate "ASoC support for audiocodec"
	depends on ARCH_SUN8IW10
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC interface.

config SND_SUNXI_SOC_INTERNAL_SUN8IW11_AUDIOCODEC
	tristate "ASoC support for audiocodec"
	depends on ARCH_SUN8IW11
	select REGMAP_MMIO
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC interface.

config SND_SUNXI_SOC_INTERNAL_SUN50IW2_AUDIOCODEC
	tristate "ASoC support for audiocodec"
	depends on ARCH_SUN50IW2
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC interface.

config SND_SUNXI_SOC_CODEC_CPU_DAI
	tristate "ASoC support for internal-codec cpudai"
	depends on ARCH_SUN8IW10 || ARCH_SUN8IW11 || ARCH_SUN50IW2
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  INTERNAL I2S interface.

config SND_SUNXI_SOC_SUN8IW10_AUDIO_CODEC_MACHINE
	tristate "ASoC support for sun8iw10 audiocodec machine"
	depends on ARCH_SUN8IW10
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC MACHEINE interface.

config SND_SUNXI_SOC_SUN8IW11_AUDIO_CODEC_MACHINE
	tristate "ASoC support for sun8iw11 audiocodec machine"
	depends on ARCH_SUN8IW11
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC MACHEINE interface.

config SND_SUNXI_SOC_SUN50IW2_AUDIO_CODEC_MACHINE
	tristate "ASoC support for sun50iw2 audiocodec machine"
	depends on ARCH_SUN50IW2
	select SND_SUNXI_SOC_RW
	help
	  Say Y or M if you want to add support for codecs attached to the
	  AUDIOCODEC MACHEINE interface.

config SND_SUNXI_SOC_DAUDIO_PLATFORM
	tristate "ASoC support for daudio platform."
	select REGMAP_MMIO
	help
 	  Say Y or M if you want to add the daudio platform interface.

config SND_SUNXI_SOC_VIRCODEC
	tristate "ASoC support for vircodec."
	help
 	  Say Y or M if you want to add the vircodec interface.

config SND_SUNXI_SOC_DAUDIO0_MACHINE
	tristate "ASoC support for daudio0 machine"
	help
 	  Say Y or M if you want to add the daudio0 MACHEINE interface.

config SND_SUNXI_SOC_DAUDIO1_MACHINE
	tristate "ASoC support for daudio1 machine"
	help
 	  Say Y or M if you want to add the daudio1 MACHEINE interface.

config SND_SUNXI_SOC_DMIC
	tristate "ASoC support for dmic."
	select REGMAP_MMIO
	select SND_SOC_DMIC
	depends on ARCH_SUN8IW10
	help
 	  Say Y or M if you want to add the dmic interface.

config SND_SUNXI_SOC_DSD
	tristate "ASoC support for dsd."
	select SND_SOC_CS4385
	depends on ARCH_SUN8IW10
	help
 	  Say Y or M if you want to add the dsd interface.

config SND_SUNXI_SOC_HDMIAUDIO
	tristate "ASoC support for hdmiaudio."
	depends on ARCH_SUN50IW1P1 || ARCH_SUN8IW11 || ARCH_SUN50IW2
	select SND_SUNXI_SOC_DAUDIO_PLATFORM
	help
 	  Say Y or M if you want to add the hdmi platform interface.

config SND_SUNXI_SOC_SPDIF
	tristate "ASoC support for spdif soundcard"
	select REGMAP_MMIO
	select SND_SUNXI_SOC_SPDIF_UTILS
	help
 	  Say Y or M if you want to add the spdif soundcard include macheine plarform.
config SND_SUNXI_SOC_HUB
	bool "Support SUNXI AUDIO HUB"
	depends on (SND_SUNXI_SOC_HDMIAUDIO && SND_SUNXI_SOC_SPDIF)
	help
	  Say Y if you want to add audiohub function.

config SUNXI_AUDIO_DEBUG
	bool "Support SUNXI AUDIO DEBUG"
	depends on SND_SUNXI_SOC_AUDIO_DMA
	help
	  this is DEBUG function, add by LSH
endif

#endmenu

