# SPDX-License-Identifier: GPL-2.0
# Common clock support for Cixtech SoC family
menu "Clock support for Cixtech"

comment "Clock options for Cixtech CPUs:"

config COMMON_CLK_CIX
	tristate "Support for Cix's clock controllers"
	depends on ARCH_CIX || COMPILE_TEST
	select REGMAP_MMIO
	select RESET_CONTROLLER

config CIX_CLK_DEBUG
	tristate "Cix SoC Clock Debug Driver"
	depends on COMMON_CLK_CIX
	help
	  Support on-line debug soc clocks from the debugfs interface.

config CLK_SKY1_AUDSS
	tristate "Cixtech Sky1 Audio Subsystem Clock Driver"
	depends on COMMON_CLK_CIX || COMPILE_TEST
	help
	    Support for the Audio Subsystem clock controller present on
	    Cixtech Sky1 SoC. Choose M or Y here if you want to build this
	    driver.

config CIX_ACPI_CLK
        bool "CIX Clock Management API for acpi"
        depends on ARCH_CIX && ACPI
        help
          This provid the clock management API for CIX Technologies,Inc.
          Say Y if you want to supprot clock driver.

endmenu
