/*
 * Allwinner Technology CO., Ltd. sun50iw2p1 pro board.
 *
 * pro board support.
 */

/dts-v1/;

#include "sun8iw10p1.dtsi"

/{

	soc@01c00000 {
		uart0: uart@01c28000 {
			status = "okay";
		};

		twi0: twi@0x01c2ac00 {
			status = "okay";
		};

		twi1: twi@0x01c2b000 {
			status = "okay";
			sta32x@1c{
				compatible = "sta,sta32x";
				reg = <0x1c>;
				power_gpio = <&axp_gpio0 PP 2 1 1 1 1>;
				gpio-reset = <&pio PG 9 1 1 1 1>;
                        };
			cx2081x@35{
				compatible = "cx,cx2081x_0";
				reg = <0x35>;
			};
			cx2081x@3b{
				compatible = "cx,cx2081x_1";
				reg = <0x3b>;
				voltage_enable = "audio-33";
			};
		};
	};
};
