ifeq ($(USE_LINUX_PCIE), 1)
EXTRA_CFLAGS +=-DgcdIRQ_SHARED
endif

# Customer can just set gcdENABLE_40BIT_VA=1 if the chip supports
ifeq ($(ENABLE_40BIT_VA), 1)
EXTRA_CFLAGS +=-DgcdENABLE_40BIT_VA=1
else
EXTRA_CFLAGS +=-DgcdENABLE_40BIT_VA=0
endif

# Customer can just set gcdMMU_40VA_40PA=0 if the master table index is 16bit or 18bit.
ifeq ($(MMU_40VA_40PA), 1)
EXTRA_CFLAGS +=-DgcdMMU_40VA_40PA=1
else
EXTRA_CFLAGS +=-DgcdMMU_40VA_40PA=0
endif

EXTRA_CFLAGS +=-DgcdENABLE_VIRTUAL_POOL=1
EXTRA_CFLAGS +=-DgcdDYNAMIC_ALLOC_LOCAL_MEMORY=0
