# SPDX-License-Identifier: GPL-2.0

config AW_MACADDR_MGT
  tristate "Allwinner Network MAC Addess Manager"
  depends on AW_RFKILL || BT || ETHERNET
  help
    allwinner network mac address management

